{% raw %}
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://nivesguru.in"
            },{
                "@type": "ListItem",
                "position": 2,
                "name": "আমাদের সাথে যোগাযোগ করুন",
                "item": "https://nivesguru.in/bn/contact-us"
            }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ContactPage",
            "name": "নিভেসগুরু-তে যোগাযোগ করুন",
            "description": "আমাদের আর্থিক ক্যালকুলেটর সম্পর্কে প্রশ্নের জন্য নিভেসগুরু টিমের সাথে যোগাযোগ করুন।",
            "url": "https://nivesguru.in/bn/contact-us",
            "mainEntity": {
                "@type": "Organization",
                "name": "Nivesguru",
                "url": "https://nivesguru.in",
                "logo": "https://nivesguru.in/maskable_icon_x192.png",
                "email": "nivesguru@gmail.com",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "contactType": "customer service",
                    "email": "nivesguru@gmail.com",
                    "areaServed": "IN",
                    "availableLanguage": ["English", "Hindi", "Bengali"]
                },
                "sameAs": [
                    "https://www.facebook.com/nivesguru",
                    "https://instagram.com/niveshguru_official",
                    "https://www.youtube.com/@nivesguru-india",
                    "https://twitter.com/Nivesguru",
                    "https://www.linkedin.com/company/nivesguru"
                ]
            }
        }
    </script>
{% endraw %}
