{% raw %}
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "website",
            "name": "নিভেসগুরু: বিনামূল্যে ক্যালকুলেটর বিনিয়োগ ভারতের জন্য সহজ করে তোলে",
            "description": "নিভেসগুরু হল সম্পূর্ণ বিনামূল্যে বিনিয়োগের জন্য একটি অনলাইন গণনার টুল। ভারতীয়দের জন্য একটি উদ্যোগ তাদের অর্থ সম্পর্কিত বিনিয়োগের জন্য অনুপ্রাণিত করার জন্য queries with real time output along with a tool set of ক্যালকুলেটর. You can calculate your investment and its maturity amount through our ক্যালকুলেটর like Savings / Fixed / Recurring Deposits. Government bonds like Kisan Vikas Patra",
            "url": "https://nivesguru.in/bn/",
            "image": [
                "https://nivesguru.in/bn//nivesguru-investment-calculator-home-page.svg",
                "https://nivesguru.in/bn//res/icon/bank-deposit.webp",
                "https://nivesguru.in/bn//res/icon/deposits.webp",
                "https://nivesguru.in/bn//res/icon/ssy.webp",
                "https://nivesguru.in/bn//res/icon/pension-plan.webp",
                "https://nivesguru.in/bn//res/icon/bima-yojana.webp",
                "https://nivesguru.in/bn//res/icon/govt-bonds.webp",
                "https://nivesguru.in/bn//res/icon/gold-bonds.webp"
            ],
            "sameAs": [
                "https://www.facebook.com/nivesguru",
                "https://instagram.com/niveshguru_official",
                "https://youtube.com/@nivesguru_official",
                "https://twitter.com/Nivesguru",
                "https://www.linkedin.com/company/nivesguru"
            ]
        }
    </script>
{% endraw %}
