{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "মহিলা সম্মান সঞ্চয় শংসাপত্র / MSSC ক্যালকুলেটর অনলাইন",
            "url": "https://nivesguru.in/bn/mahila-samman-savings-certificate-mssc-calculator",
            "image": [
                "https://nivesguru.in/bn/mahila-samman-savings-certificate-mssc-calculator.svg",
                "https://nivesguru.in/mahila-samman-savings-certificate-calculator.svg"
            ],
            "datePublished": "2023-09-12T10:00:00+05:30",
            "dateModified": "2023-11-29T14:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "মহিলা সম্মান সঞ্চয় শংসাপত্র / MSSC ক্যালকুলেটর অনলাইন",
            "item": "https://nivesguru.in/bn/mahila-samman-savings-certificate-mssc-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "Can a non-resident Indian (NRI) invest in the Mahila Samman Savings Certificate?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "No, any NRI are not eligible for Mahila Samman Savings Certificate investment and this scheme only available for Indian citizens / women / girls resides in India"
            }
          }, {
            "@type": "Question",
            "name": "Can I avail a loan against the Mahila Samman Savings Certificate?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, you can avail a loan against the certificate after the completion of one year from the date of purchase."
            }
          }]
        }
    </script>
{% endraw %}
