{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "প্রধানমন্ত্রী জীবন জ্যোতি বীমা যোজনা | PMJJBY ক্যালকুলেটর",
            "url": "https://nivesguru.in/bn/pradhan-mantri-jeevan-jyoti-bima-yojana-pmjjby-calculator",
            "image": [
                "https://nivesguru.in/pradhan-mantri-suraksha-bima-yojana-life-insurance.svg",
                "https://nivesguru.in/nivesguru-investment-calculator-pmjjby.svg"
            ],
            "datePublished": "2024-02-21T10:00:00+05:30",
            "dateModified": "2024-02-23T14:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "প্রধানমন্ত্রী জীবন জ্যোতি বীমা যোজনা | PMJJBY ক্যালকুলেটর",
            "item": "https://nivesguru.in/bn/pradhan-mantri-jeevan-jyoti-bima-yojana-pmjjby-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
            "@type": "Question",
            "name": "What is pradhan mantri jeevan jyoti bima yojana?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY) is a government-backed life insurance scheme in India. It was launched by the Prime Minister of India, Narendra Modi, on May 9, 2015. The scheme is aimed at providing life insurance coverage at a highly affordable premium to individuals in the age group of 18 to 50 years."
            }
            },{
            "@type": "Question",
            "name": "Pradhan mantri jeevan jyoti bima yojana under which ministry?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "The Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY) is an insurance scheme in India that provides life insurance coverage. It falls under the Ministry of Finance, Government of India. The scheme was announced by the Government of India in the Budget for the fiscal year 2015-16 and is administered by the Life Insurance Corporation of India (LIC) or other insurance companies as selected by the concerned State Governments or Union Territory administrations. The Ministry of Finance oversees the implementation and coordination of the scheme."
            }
            },{
            "@type": "Question",
            "name": "How to stop pradhan mantri jeevan jyoti bima yojana?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Want to stop the Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY). Contact Your Bank/Insurance Provider - through which you enrolled in PMJJBY. Visit the branch in person or contact their customer service helpline. Submit a Written Request - to stop or opt out of the PMJJBY to cancel the insurance policy. Include your policy details and any other relevant information. Provide Valid ID - along with your written request. Follow Bank's Procedures - forms provided by your bank or insurance provider for cancellation. Cancel Auto-Debit (if applicable) - If the premium for PMJJBY is being automatically deducted from your bank account."
            }
            }]
        }
    </script>
{% endraw %}
