{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "পাঞ্জাব ন্যাশনাল ব্যাঙ্ক: পিএনবি এসবি ক্যালকুলেটর",
            "url": "https://nivesguru.in/bn/pnb-sb-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-sb.svg"
            ],
            "datePublished": "2023-05-24T10:00:00+05:30",
            "dateModified": "2023-11-30T03:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "পাঞ্জাব ন্যাশনাল ব্যাঙ্ক: পিএনবি এসবি ক্যালকুলেটর",
            "item": "https://nivesguru.in/bn/pnb-sb-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What are the rules of savings account?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "The customer has to maintain minimum balance in the account as maybe prescribed by the Bank from time to time. Failure to maintain such minimum balance in the account will attract penalty as may be levied by the Bank."
            }
          }, {
            "@type": "Question",
            "name": "Who Cannot open an SB account?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Political parties These Institutions / Organisations are specifically excluded from opening Punjab National Bank | PNB SB Accounts with Banks and earn interest thereon and hence branches are prohibited from opening such Accounts."
            }
          }]
        }
    </script>
{% endraw %}
