{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "SWP ক্যালকুলেটর Online: understand Systematic Withdrawal Plan",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-05-23T10:00:00+05:30",
            "dateModified": "2023-11-29T14:20:00+05:30",
            "image": [
                "https://nivesguru.in/pradhan-mantri-suraksha-bima-yojana-life-insurance.svg",
                "https://nivesguru.in/nivesguru-investment-calculator-pmsby.svg"
            ],
            "url": "https://nivesguru.in/bn/pradhan-mantri-suraksha-bima-yojana-pmsby-calculator",
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "বিনামূল্যে প্রধানমন্ত্রী নিরাপত্তা বিমা যোজনা / PMSBY ক্যালকুলেটর",
            "item": "https://nivesguru.in/bn/pradhan-mantri-suraksha-bima-yojana-pmsby-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "Is there any time limit to claim PMSBY?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Claim form must be obtained from the bank or designated insurance companies or via the website. The form is to be duly filled. The completed claim form is to be submitted to the bank branch within 30 days from the day of occurrence of the accident."
            }
          }, {
            "@type": "Question",
            "name": "Does PMSBY cover natural death?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "What about coverage of suicide / murder? Natural calamities being in the nature of accidents, any death / disability (as defined under PMSBY) resulting from such natural calamities is also covered under PMSBY. While death due to suicide is not covered, that from murder is covered."
            }
          }]
        }
    </script>
{% endraw %}
