{% raw %}
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "headline": "ইনভেস্টমেন্ট স্কিম পোস্ট অফিস টাইম ডিপোজিট/টিডি ক্যালকুলেটর",
          "url": "https://nivesguru.in/bn/post-office-time-deposit-td-calculator",
          "image": [
            "https://nivesguru.in/post-office-mis-calculator-nivesguru.svg",
            "https://nivesguru.in/post-office-monthly-income-scheme.svg"
          ],
          "datePublished": "2023-09-10T10:00:00+05:30",
          "dateModified": "2023-11-30T05:50:00+05:30",
          "author": {
            "@type": "Person",
            "name": "Anupam Mondal",
            "url": "https://anupammondal.in"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Nivesguru"
          }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "ইনভেস্টমেন্ট স্কিম পোস্ট অফিস টাইম ডিপোজিট/টিডি ক্যালকুলেটর",
            "item": "https://nivesguru.in/bn/post-office-time-deposit-td-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is the minimum and maximum tenure for a Post Office Time Deposit?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "The minimum tenure for a Post Office Time Deposit is 1 year, and the maximum tenure is 5 years."
            }
          }, {
            "@type": "Question",
            "name": "Can NRIs invest in the Post Office Time Deposit Scheme?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "No, the Post Office Time Deposit scheme is available only to Indian citizens and not open to Non-Resident Indians (NRIs)."
            }
          }]
        }
    </script>
{% endraw %}
