{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "সার্বভৌম গোল্ড বন্ড / SGB ক্যালকুলেটর: বিনিয়োগ এবং রিটার্ন",
            "url": "https://nivesguru.in/simple-interest-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-sgb.svg"
            ],
            "datePublished": "2023-03-23T10:00:00+05:30",
            "dateModified": "2024-01-10T03:31:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is the next issue date of SGB 2023 24?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Next issue date of SGB (Sovereign Gold Bond) Series III for 2023-24 is 18th - 22nd December, 2023. The Date of Issuance is 28th December, 2023."
            }
          },{
            "@type": "Question",
            "name": "When can I buy SGB in 2024?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "SGB (Sovereign Gold Bond) 2023-24 scheme Series IV subscription will be start from 12th - 16th February, 2024. Date of Issuance - 21st February, 2024."
            }
          },{
            "@type": "Question",
            "name": "Is it mandatory to redeem SGB after 8 years?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Though the tenor of the bond is 8 years, early encashment/redemption of the bond is allowed after fifth year from the date of issue on coupon payment dates. The bond will be tradable on Exchanges, if held in demat form."
            }
          }, {
            "@type": "Question",
            "name": "Can I exit SGB before 5 years?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Although the Sovereign Gold Bond (SGB) has a tenor of 8 years, it can be redeemed prematurely on coupon payment dates after the 5th year from the date of issue. A charge of ₹150 + 18% GST will be imposed for rematerialisation or redemption."
            }
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "সার্বভৌম গোল্ড বন্ড / SGB ক্যালকুলেটর: বিনিয়োগ এবং রিটার্ন",
            "item": "https://nivesguru.in/bn/sgb-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Website",
            "name": "সার্বভৌম গোল্ড বন্ড / SGB ক্যালকুলেটর: বিনিয়োগ এবং রিটার্ন",
            "url": "https://nivesguru.in/bn/sgb-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-sgb.svg"
            ],
            "sameAs": [
                "https://nivesguru.in",
                "https://www.facebook.com/nivesguru",
                "https://instagram.com/niveshguru_official",
                "https://youtube.com/@nivesguru_official",
                "https://twitter.com/Nivesguru",
                "https://www.linkedin.com/company/nivesguru"
            ]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",
            "name": "Sovereign Gold Bond Scheme 2023-24",
            "image": "https://nivesguru.in/nivesguru-investment-calculator-sgb.svg",
            "description": "সার্বভৌম গোল্ড বন্ড (SGB) স্কিম সিরিজ IV ইস্যু তারিখ 12-16 ফেব্রুয়ারী, 2024। ডিজিটাল কেনাকাটায় ডিসকাউন্ট পান। অর্ধবার্ষিক ভিত্তিতে 2.5% সুদ প্রদান করা হয়",
            "url": "https://nivesguru.in/bn/sgb-calculator",
            "brand": {
                "@type": "Brand",
                "name": "Reserve Bank of India",
                "logo": "https://rbi.org.in/images/rbi-company-logo.jpg"
            },
            "offers": {
                "@type": "AggregateOffer",
                "offerCount": 50,
                "lowPrice": 6199,
                "highPrice": 6149,
                "priceCurrency": "INR"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": ["SoftwareApplication", "WebApplication"],
          "name": "Sovereign Gold Bond / SGB ক্যালকুলেটর",
          "operatingSystem": "ANDROID",
          "applicationCategory": "FinanceApplication",
          "offers": {
            "@type": "Offer",
            "price": "50.00",
            "priceCurrency": "INR"
          }
        }
    </script>
{% endraw %}
