{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "ভারতের জন্য সিনিয়র সিটিজেন সেভিংস স্কিম / SCSS ক্যালকুলেটর",
            "url": "https://nivesguru.in/bn/senior-citizens-savings-scheme-scss-calculator",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2024-04-22T10:00:00+05:30",
            "dateModified": "2024-04-22T10:20:00+05:30",
            "image": [
                "https://nivesguru.in/bn/senior-citizens-savings-scheme-scss-calculator.svg"
            ],
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "ভারতের জন্য সিনিয়র সিটিজেন সেভিংস স্কিম / SCSS ক্যালকুলেটর",
            "item": "https://nivesguru.in/bn/senior-citizens-savings-scheme-scss-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "একটি SCSS অ্যাকাউন্ট খোলার জন্য বয়সের প্রয়োজনীয়তা কী?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "60 বছর বা তার বেশি বয়সের ব্যক্তিরা একটি SCSS অ্যাকাউন্ট খোলার যোগ্য।"
            }
          }, {
            "@type": "Question",
            "name": "আমি কি প্রাথমিক মেয়াদের পরে আমার SCSS অ্যাকাউন্ট প্রসারিত করতে পারি?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "হ্যাঁ, আপনি অতিরিক্ত তিন বছরের জন্য মেয়াদ বাড়াতে পারেন।"
            }
          }]
        }
    </script>
{% endraw %}
