{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "এসবি ক্যালকুলেটর: স্টেট ব্যাঙ্ক অফ ইন্ডিয়া সঞ্চয়",
            "url": "https://nivesguru.in/bn/sbi-sb-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-sb.svg"
            ],
            "datePublished": "2023-05-23T10:00:00+05:30",
            "dateModified": "2024-06-05T02:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "এসবি ক্যালকুলেটর: স্টেট ব্যাঙ্ক অফ ইন্ডিয়া সঞ্চয়",
            "item": "https://nivesguru.in/bn/sbi-sb-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "How many transactions are allowed in SB account?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "The typical range of 3 to 5 transactions per month is the maximum allowed without incurring any fees (financial and non-financial). Every time the cash deposit limit in your savings account surpasses INR 50,000, you must supply your PAN card information."
            }
          }, {
            "@type": "Question",
            "name": "Who Cannot open an SB account?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Political parties These Institutions / Organisations are specifically excluded from opening State Bank of India | SBI SB Accounts with Banks and earn interest thereon and hence branches are prohibited from opening such Accounts."
            }
          }]
        }
    </script>
{% endraw %}
