{% raw %}
<script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
        },{
            "@type": "ListItem",
            "position": 2,
            "name": "Bank of India Savings Account | BOI SB Calculator for India",
            "item": "https://nivesguru.in/faq-page"
        }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
                "@type": "Question",
                "name": "What are the rules for FD?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "If the interest on your FD is less than the interest being received on the savings account, then you will keep getting the interest with FD. If the interest earned on FD is more than the interest earned on the savings account, then you will get the interest on the savings account after maturity."
                }
            }, {
                "@type": "Question",
                "name": "How many transactions are allowed in SB account?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "The typical range of 3 to 5 transactions per month is the maximum allowed without incurring any fees (financial and non-financial). Every time the cash deposit limit in your savings account surpasses INR 50,000, you must supply your PAN card information."
                }
            }, {
                "@type": "Question",
                "name": "What are the rules for RD?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "RD allows you to earn fixed interests on the amount invested at frequent intervals until the investment matures or a predetermined term ends. The total amount (i.e., the capital invested and the interest accumulated) is disbursed to the investor after the maturity period completes."
                }
            }, {
                "@type": "Question",
                "name": "What are the new rules of SSY?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "The SSY account shall be mandatorily operated by the girl child after she attains the age of 18 years. The minimum deposit amount for an SSY account is Rs.250 (this amount was previously Rs.1,000), thereafter in multiples of Rs.50, and the maximum is Rs.1,50,000 in every financial year, up to 15 years."
                }
            }, {
                "@type": "Question",
                "name": "What are the rules regarding PPF account?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "As a rule, one can fully withdraw the PPF account balance only upon maturity, i.e. after the completion of 15 years. Upon completion of 15 years, the entire amount standing to the credit of an account holder in the PPF account along with the accrued interest can be withdrawn freely and the account can be closed."
                }
            }]
        }
    </script>
{% endraw %}
