{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "MSSC: Mahila Samman Savings Certificate Calculator online",
            "url": "https://nivesguru.in/mahila-samman-savings-certificate-mssc-calculator",
            "image": [
                "https://nivesguru.in/mahila-samman-savings-certificate-mssc-calculator.svg",
                "https://nivesguru.in/mahila-samman-savings-certificate-calculator.svg"
            ],
            "datePublished": "2023-09-12T10:00:00+05:30",
            "dateModified": "2024-04-02T14:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "MSSC: Mahila Samman Savings Certificate Calculator online",
            "item": "https://nivesguru.in/mahila-samman-savings-certificate-mssc-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is the interest rate offered on Mahila Samman Savings Certificate Account (MSSC)?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "An interest rate of 7.5% p.a. is applicable on Post Office Mahila Samman Savings Certificate (MSSC) currently."
            }
          },{
            "@type": "Question",
            "name": "Can a non-resident Indian (NRI) invest in the Mahila Samman Savings Certificate?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "No, any NRI are not eligible for Mahila Samman Savings Certificate investment and this scheme only available for Indian citizens / women / girls resides in India"
            }
          }, {
            "@type": "Question",
            "name": "Can I avail a loan against the Mahila Samman Savings Certificate?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, you can avail a loan against the certificate after the completion of one year from the date of purchase."
            }
          }, {
            "@type": "Question",
            "name": "Is partial withdrawal possible in case of emergencies?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, partial withdrawal is possible after one year up to 40% of the existing Account balance."
            }
          }, {
            "@type": "Question",
            "name": "Is there any lock-in period for this scheme?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, the Mahila Samman Savings Certificate has a lock-in period of 2 years from the date of purchase."
            }
          }, {
            "@type": "Question",
            "name": "Is there any last date for MSSC?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, the last date of opening a Mahila Samman Savings Certifacate is 31st Mar, 2025. MSSC investment started in 2023 and can able to utilise the benifit to get good return of interest on your savings upto Mar, 2025."
            }
          }]
        }
    </script>
{% endraw %}
