{% raw %}
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "website",
            "name": "Privacy Policy for Nivesguru",
            "url": "https://nivesguru.in/privacy-policy",
            "logo": "https://nivesguru.in/maskable_icon_x192.png",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+91-938-239-9893",
                "contactType": "customer service",
                "areaServed": "IN"
            }],
            "sameAs": [
                "https://www.facebook.com/nivesguru",
                "https://instagram.com/niveshguru_official",
                "https://www.youtube.com/@nivesguru-india",
                "https://twitter.com/Nivesguru",
                "https://www.linkedin.com/company/nivesguru"
            ]
        }
    </script>
{% endraw %}
