{% raw %}
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "headline": "PPF Calculator : Public Provident Fund a Retirement Scheme",
          "url": "https://nivesguru.in/ppf-calculator",
          "image": [
            "https://nivesguru.in/public-provident-fund-ppf-calculator.svg",
            "https://nivesguru.in/nivesguru-investment-calculator-ppf.svg"
          ],
          "datePublished": "2023-09-10T10:00:00+05:30",
          "dateModified": "2023-11-30T05:50:00+05:30",
          "author": {
            "@type": "Person",
            "name": "Anupam Mondal",
            "url": "https://anupammondal.in"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Nivesguru"
          }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "PPF Calculator : Public Provident Fund a Retirement Scheme",
            "item": "https://nivesguru.in/ppf-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": "PPF Calculator : Public Provident Fund a Retirement Scheme",
          "description": "PPF Calculator : Public Provident Fund interest rate 7.1% in 2023 - 24 by Government of India. A retirement scheme start from ₹500 - ₹150000 / year for Indian",
          "url": "https://nivesguru.in/ppf-calculator",
          "inLanguage": "en-IN"
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
            "@type": "Question",
            "name": "How can I open a PPF account?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Opening a PPF account is simple. Visit your nearest authorized bank or post office, fill out the application form, provide the required documents, and make an initial deposit."
            }
            },{
            "@type": "Question",
            "name": "Can NRIs invest in PPF?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Yes, NRIs can invest in PPF accounts, subject to specific conditions outlined by the government."
            }
            }]
        }
    </script>
{% endraw %}
