{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "RD Calculator: understand Recurring Deposit Scheme",
            "url": "https://nivesguru.in/rd-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-rd.svg"
            ],
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-11-26T10:00:00+05:30",
            "dateModified": "2023-11-29T14:20:00+05:30",
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "RD Calculator: understand Recurring Deposit Scheme",
            "item": "https://nivesguru.in/rd-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "How do I get a SB / recurring deposit account?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Any Indian citizen have the voting rights can open a recurring deposit account through Pradhan Mantri Jan-Dhan Yojana (PMJDY) from any SEBI regulated private or public banks, from nearest Indain Post Offices. Also you can open a recurring deposit account through online without visiting the branch and get benifited by different oppertunities from Governmnet."
            }
          }, {
            "@type": "Question",
            "name": "Why is RD better than SIP?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Recurring Deposit / RD always better than SIP in term of risk. Mutul Funds are linked to share market directly and will impact anytime. But Recurring deposit not directly linked with share market and also monitored by Governmnet institutions like RBI(Reserve Bank of India) or SEBI(Securities and Exchange Board of India). Where you'll get a fixed interest during the tenure of your scheme."
            }
          }]
        }
    </script>
{% endraw %}
