{% raw %}
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "SSY Calculator: all about Sukanya Samriddhi Yojana",
            "item": "https://nivesguru.in/sukanya-samriddhi-yojana-ssy-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "SSY Calculator: all about Sukanya Samriddhi Yojana",
            "url": "https://nivesguru.in/sukanya-samriddhi-yojana-ssy-calculator",
            "image": [
                "https://nivesguru.in/ssy-sukanya-samriddhi-yojana-calculator.svg",
                "https://nivesguru.in/sukanya-samriddhi-yojana-ssy-calculator.svg",
                "https://nivesguru.in/nivesguru-investment-calculator-ssy.svg"
            ],
            "datePublished": "2023-05-23T10:00:00+05:30",
            "dateModified": "2023-11-30T02:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is Sukanya Samriddhi Yojana?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Sukanya Samriddhi Yojana is a government-backed savings scheme for the financial security and welfare of girl children."
            }
          }, {
            "@type": "Question",
            "name": "How to fill Sukanya Samriddhi Yojana form at the post office?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Visit your nearest post office, collect the SSY form, fill it with the required details, and submit it with the necessary documents."
            }
          }]
        }
    </script>
{% endraw %}
