{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "SCSS Calculator for Senior Citizens Savings Scheme",
            "url": "https://nivesguru.in/senior-citizens-savings-scheme-scss-calculator",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-09-10T10:00:00+05:30",
            "dateModified": "2024-04-02T03:20:00+05:30",
            "image": [
                "https://nivesguru.in/senior-citizens-savings-scheme-scss-calculator.svg"
            ],
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "SCSS Calculator for Senior Citizens Savings Scheme",
            "item": "https://nivesguru.in/senior-citizens-savings-scheme-scss-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is the age requirement for opening an SCSS account?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Individuals aged 60 and above are eligible to open an SCSS account."
            }
          }, {
            "@type": "Question",
            "name": "Can I extend my SCSS account after the initial tenure?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, you can extend the tenure for an additional three years."
            }
          }]
        }
    </script>
{% endraw %}
