{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "Union Bank of India Free Fixed Deposit | UBI FD Calculator",
            "url": "https://nivesguru.in/ubi-fd-calculator",
            "image": [
                "https://nivesguru.in/swp-calculator-india.svg",
                "https://nivesguru.in/swp-calculator-online.svg"
            ],
            "datePublished": "2023-05-24T10:00:00+05:30",
            "dateModified": "2023-11-29T14:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "Union Bank of India Free Fixed Deposit | UBI FD Calculator",
            "item": "https://nivesguru.in/ubi-fd-calculator"
          }]
        }
    </script>
{% endraw %}
