{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "मुफ़्त ऑनलाइन चक्रवृद्धि ब्याज कैलकुलेटर, सूत्र निवेशगुरु",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-09-10T10:00:00+05:30",
            "dateModified": "2023-11-28T03:20:00+05:30",
            "image": [
                "https://nivesguru.in/hi/compound-interest-calculator.svg"
            ],
            "url": "https://nivesguru.in/hi/compound-interest-calculator/",
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "Bank of India Savings Account | BOI SB कैलकुलेटर for India",
            "item": "https://nivesguru.in/hi/compound-interest-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is compound interest?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Compound interest is the interest earned on both the initial amount (principal) and the accumulated interest."
            }
          }, {
            "@type": "Question",
            "name": "How does compounding frequency affect growth?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Higher compounding frequency leads to faster growth due to more frequent reinvestment."
            }
          }]
        }
    </script>
{% endraw %}
