{% raw %}
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://nivesguru.in"
            },{
                "@type": "ListItem",
                "position": 2,
                "name": "हमसे संपर्क करें",
                "item": "https://nivesguru.in/hi/contact-us"
            }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ContactPage",
            "name": "निवेशगुरु से संपर्क करें",
            "description": "हमारे वित्तीय कैलकुलेटर के बारे में प्रश्नों के लिए निवेशगुरु टीम से संपर्क करें।",
            "url": "https://nivesguru.in/hi/contact-us",
            "mainEntity": {
                "@type": "Organization",
                "name": "Nivesguru",
                "url": "https://nivesguru.in",
                "logo": "https://nivesguru.in/maskable_icon_x192.png",
                "email": "nivesguru@gmail.com",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "contactType": "customer service",
                    "email": "nivesguru@gmail.com",
                    "areaServed": "IN",
                    "availableLanguage": ["English", "Hindi", "Bengali"]
                },
                "sameAs": [
                    "https://www.facebook.com/nivesguru",
                    "https://instagram.com/niveshguru_official",
                    "https://www.youtube.com/@nivesguru-india",
                    "https://twitter.com/Nivesguru",
                    "https://www.linkedin.com/company/nivesguru"
                ]
            }
        }
    </script>
{% endraw %}
