{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "निवेशगुरु द्वारा भारत का एफडी कैलकुलेटर फिक्स्ड डिपॉजिट निवेश",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-08-05T10:00:00+05:30",
            "dateModified": "2023-11-29T14:20:00+05:30",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-fd.svg"
            ],
            "url": "https://nivesguru.in/hi/fixed-deposit-fd-calculator",
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "निवेशगुरु द्वारा भारत का एफडी कैलकुलेटर फिक्स्ड डिपॉजिट निवेश",
            "item": "https://nivesguru.in/hi/fixed-deposit-fd-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "How much interest is exempted for TDS of FD?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "The cons of investing in an FD are discussed below. The returns in an FD are guaranteed but the FD rates are low as compared to other market-linked investments. If you withdraw the FD before its maturity date, you will have to pay a penalty charge."
            }
          }, {
            "@type": "Question",
            "name": "What is the disadvantage of FD?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "The cons of investing in an FD are discussed below. The returns in an FD are guaranteed but the FD rates are low as compared to other market-linked investments. If you withdraw the FD before its maturity date, you will have to pay a penalty charge."
            }
          }]
        }
    </script>
{% endraw %}
