{% raw %}
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "website",
            "name": "निवेश कैलकुलेटर - वित्तीय भविष्य की योजना बनाएं | निवेसगुरु",
            "description": "निवेसगुरु निवेश के लिए एक ऑनलाइन गणना उपकरण बिल्कुल मुफ्त है। भारतीयों को अपने वित्त संबंधी निवेश के लिए प्रेरित करने की एक पहल queries with real time output along with a tool set of कैलकुलेटर. You can calculate your investment and its maturity amount through our कैलकुलेटर like Savings / Fixed / Recurring Deposits. Government bonds like Kisan Vikas Patra",
            "url": "https://nivesguru.in/hi/",
            "image": [
                "https://nivesguru.in/hi//nivesguru-investment-calculator-home-page.svg",
                "https://nivesguru.in/hi//res/icon/bank-deposit.webp",
                "https://nivesguru.in/hi//res/icon/deposits.webp",
                "https://nivesguru.in/hi//res/icon/ssy.webp",
                "https://nivesguru.in/hi//res/icon/pension-plan.webp",
                "https://nivesguru.in/hi//res/icon/bima-yojana.webp",
                "https://nivesguru.in/hi//res/icon/govt-bonds.webp",
                "https://nivesguru.in/hi//res/icon/gold-bonds.webp"
            ],
            "sameAs": [
                "https://www.facebook.com/nivesguru",
                "https://instagram.com/niveshguru_official",
                "https://youtube.com/@nivesguru_official",
                "https://twitter.com/Nivesguru",
                "https://www.linkedin.com/company/nivesguru"
            ]
        }
    </script>
{% endraw %}
