{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "केवीपी कैलकुलेटर - निवेशगुरु द्वारा किसान विकास पत्र मुफ्त वेब ऐप",
            "url": "https://nivesguru.in/hi/kvp-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-kvp.svg",
                "https://nivesguru.in/kisan-vikas-patra-kvp-calculator-post-office-scheme-nivesguru.svg"
            ],
            "datePublished": "2023-03-26T10:00:00+05:30",
            "dateModified": "2023-11-30T14:05:30+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "केवीपी कैलकुलेटर - निवेशगुरु द्वारा किसान विकास पत्र मुफ्त वेब ऐप",
            "item": "https://nivesguru.in/hi/kvp-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is Kisan Vikas Patra?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Kisan Vikas Patra, often referred to as KVP, is a savings scheme offered by the Indian government to promote financial inclusion among the rural and semi-urban population. It provides a safe and guaranteed return on investment, making it an attractive option for risk-averse investors."
            }
          }, {
            "@type": "Question",
            "name": "Can I withdraw KVP before maturity?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "A Kisan Vikas Patra scheme can be closed before maturity. The principal along with the interest can be withdrawn. The period for premature withdrawal of KVP is after 2 years and 6 months from the date of issuance, which is also the lock-in period."
            }
          }]
        }
    </script>
{% endraw %}
