{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "एनपीएस कैलकुलेटर राष्ट्रीय पेंशन प्रणाली के लिए",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-05-23T10:00:00+05:30",
            "dateModified": "2023-11-30T14:03:00+05:30",
            "image": [
                "https://nivesguru.in/hi/national-pension-system-nps-calculator.svg",
                "https://nivesguru.in/national-pension-system-calculator-nivesguru.svg",
                "https://nivesguru.in/nivesguru-investment-calculator-nps.svg"
            ],
            "url": "https://nivesguru.in/hi/national-pension-system-nps-calculator",
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "एनपीएस कैलकुलेटर राष्ट्रीय पेंशन प्रणाली के लिए",
            "item": "https://nivesguru.in/hi/national-pension-system-nps-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "Can I exit from NPS before 60 years?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "You can voluntarily exit from NPS before attaining the age of 60 years or superannuation. Annuitization - Minimum of 80% of accumulated pension wealth will be utilized for monthly annuity or pension."
            }
          }, {
            "@type": "Question",
            "name": "What is the locking period for NPS?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "What is the lock-in period for NPS? The investments you make in NPS are locked in until the age of 60. And when you reach the age of 60, you can withdraw a maximum of 60% of your corpus. The remaining 40% must be used to purchase an annuity."
            }
          }, {
            "@type": "Question",
            "name": "What happens to NPS if I stop working?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "If contribution is discontinued and the subscriber wishes to exit from NPS before attaining the age of 60, he/she can withdraw upto 20% of the sum accumulated till that point of time. The subscriber has to buy annuity with the rest of the money from PFRDA empanelled Annuity Service Providers."
            }
          }]
        }
    </script>
{% endraw %}
