{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "निवेसगुरु द्वारा राष्ट्रीय बचत प्रमाणपत्र/एनएससी कैलकुलेटर",
            "url": "https://nivesguru.in/hi/national-savings-certificate-nsc-calculator",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "datePublished": "2023-05-23T10:00:00+05:30",
            "dateModified": "2023-11-30T03:20:00+05:30",
            "image": [
                "https://nivesguru.in/nsc-calculator-national-savings-certificate-nivesguru.svg",
                "https://nivesguru.in/nivesguru-investment-calculator-nps.svg",
                "https://nivesguru.in/hi/national-savings-certificate-nsc-calculator.svg"
            ],
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "निवेसगुरु द्वारा राष्ट्रीय बचत प्रमाणपत्र/एनएससी कैलकुलेटर",
            "item": "https://nivesguru.in/hi/national-savings-certificate-nsc-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "What is National Savings Certificate (NSC)?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "NSC is a government-backed savings scheme in India that offers a fixed interest rate and tax benefits. It is issued by the Department of Posts under the Ministry of Finance, Government of India."
            }
          }, {
            "@type": "Question",
            "name": "How do I invest in NSC?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "To invest in NSC, visit a post office or authorized bank, fill out the application form, provide the required documents, choose the investment type, and make the payment."
            }
          }]
        }
    </script>
{% endraw %}
