{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "प्रधानमंत्री जीवन ज्योति बीमा योजना | PMJJBY कैलकुलेटर",
            "url": "https://nivesguru.in/hi/pradhan-mantri-jeevan-jyoti-bima-yojana-pmjjby-calculator",
            "image": [
                "https://nivesguru.in/pradhan-mantri-suraksha-bima-yojana-life-insurance.svg",
                "https://nivesguru.in/nivesguru-investment-calculator-pmjjby.svg"
            ],
            "datePublished": "2024-02-22T10:00:00+05:30",
            "dateModified": "2024-02-22T14:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "प्रधानमंत्री जीवन ज्योति बीमा योजना | PMJJBY कैलकुलेटर",
            "item": "https://nivesguru.in/hi/pradhan-mantri-jeevan-jyoti-bima-yojana-pmjjby-calculator"
          }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
            "@type": "Question",
            "name": "प्रधान मंत्री जीवन ज्योति बीमा योजना क्या है?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "प्रधानमंत्री जीवन ज्योति बीमा योजना (पीएमजेजेबीवाई) भारत में सरकार समर्थित जीवन बीमा योजना है। इसे 9 मई 2015 को भारत के प्रधान मंत्री नरेंद्र मोदी द्वारा लॉन्च किया गया था। इस योजना का उद्देश्य 18 से 50 वर्ष की आयु के व्यक्तियों को अत्यधिक किफायती प्रीमियम पर जीवन बीमा कवरेज प्रदान करना है।"
            }
            },{
            "@type": "Question",
            "name": "प्रधानमंत्री जीवन ज्योति बीमा योजना किस मंत्रालय के अंतर्गत है?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "प्रधानमंत्री जीवन ज्योति बीमा योजना (पीएमजेजेबीवाई) भारत में एक बीमा योजना है जो जीवन बीमा कवरेज प्रदान करती है। यह भारत सरकार के वित्त मंत्रालय के अंतर्गत आता है। इस योजना की घोषणा भारत सरकार द्वारा वित्तीय वर्ष 2015-16 के बजट में की गई थी और इसे भारतीय जीवन बीमा निगम (एलआईसी) या संबंधित राज्य सरकारों या केंद्र शासित प्रदेश प्रशासन द्वारा चयनित अन्य बीमा कंपनियों द्वारा प्रशासित किया जाता है। वित्त मंत्रालय योजना के कार्यान्वयन और समन्वय की देखरेख करता है।"
            }
            },{
            "@type": "Question",
            "name": "प्रधान मंत्री जीवन ज्योति बीमा योजना कैसे रोकें?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "प्रधानमंत्री जीवन ज्योति बीमा योजना (PMJJBY) को बंद करना चाहते हैं. अपने बैंक/बीमा प्रदाता से संपर्क करें - जिसके माध्यम से आपने पीएमजेजेबीवाई में नामांकन कराया है। व्यक्तिगत रूप से शाखा में जाएँ या उनकी ग्राहक सेवा हेल्पलाइन से संपर्क करें। बीमा पॉलिसी रद्द करने के लिए पीएमजेजेबीवाई को रोकने या बाहर निकलने के लिए एक लिखित अनुरोध सबमिट करें । अपनी पॉलिसी विवरण और अन्य प्रासंगिक जानकारी शामिल करें। अपने लिखित अनुरोध के साथ वैध आईडी प्रदान करें । बैंक की प्रक्रियाओं का पालन करें - रद्दीकरण के लिए आपके बैंक या बीमा प्रदाता द्वारा प्रदान किए गए फॉर्म। ऑटो-डेबिट रद्द करें (यदि लागू हो) - यदि पीएमजेजेबीवाई का प्रीमियम आपके बैंक खाते से स्वचालित रूप से काटा जा रहा है।"
            }
            }]
        }
    </script>
{% endraw %}
