{% raw %}
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "SBI Fixed deposit / FD Investment कैलकुलेटर for India by NivesGuru",
            "url": "https://nivesguru.in/hi/sbi-fd-calculator",
            "image": [
                "https://nivesguru.in/nivesguru-investment-calculator-svg.webp"
            ],
            "datePublished": "2023-05-24T10:00:00+05:30",
            "dateModified": "2023-11-30T02:20:00+05:30",
            "author": {
                "@type": "Person",
                "name": "Anupam Mondal",
                "url": "https://anupammondal.in"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nivesguru"
            }
        }
    </script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://nivesguru.in"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "एसबीआई फिक्स्ड डिपॉजिट: एफडी कैलकुलेटर | निवेसगुरु",
            "item": "https://nivesguru.in/hi/sbi-fd-calculator"
          }]
        }
    </script>
{% endraw %}
